

    <%- include('./partials/navbar.ejs') %>

    <h3>Welcome to AniHub – Your Ultimate Anime Hub!
        </h3>
        <p>Discover the world of anime like never before! Whether you're a long-time anime fan or a newbie looking to dive into a universe of incredible stories, AnimeVerse is the place to be. We bring you the latest, the best, and the most beloved anime series and movies from around the world. From thrilling action-packed adventures to heartwarming dramas, there's something for every anime lover.</p>
        
        <a href="/dashboard"><button>view anime details</button></a>

    
    <%- include('./partials/footer.ejs') %>
